{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "google"
    ],
    "plugins": [
      "react"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "require-jsdoc": "off"
    }
}
